Repository usds/justice40-tool, pull requests merged in 2022-02, with the labels that each got.

#1088 Issue 1075: Add ETL tests to all data classes
  data/__init__.py
  data/data-pipeline/__init__.py
  data/data-pipeline/data_pipeline/etl/base.py
  data/data-pipeline/data_pipeline/etl/runner.py
  data/data-pipeline/data_pipeline/etl/score/etl_score.py
  data/data-pipeline/data_pipeline/etl/sources/cdc_life_expectancy/etl.py
  data/data-pipeline/data_pipeline/etl/sources/cdc_places/etl.py
  data/data-pipeline/data_pipeline/etl/sources/census_acs/etl.py
  data/data-pipeline/data_pipeline/etl/sources/census_acs_2010/etl.py
  data/data-pipeline/data_pipeline/etl/sources/census_acs_median_income/etl.py
  data/data-pipeline/data_pipeline/etl/sources/census_decennial/etl.py
  data/data-pipeline/data_pipeline/etl/sources/child_opportunity_index/etl.py
  data/data-pipeline/data_pipeline/etl/sources/doe_energy_burden/etl.py
  data/data-pipeline/data_pipeline/etl/sources/energy_definition_alternative_draft/etl.py
  data/data-pipeline/data_pipeline/etl/sources/epa_rsei/etl.py
  data/data-pipeline/data_pipeline/etl/sources/geocorr/etl.py
  data/data-pipeline/data_pipeline/etl/sources/national_risk_index/etl.py
  data/data-pipeline/data_pipeline/etl/sources/persistent_poverty/etl.py
  data/data-pipeline/data_pipeline/ipython/home_foreclosures_analysis_nhpd/nhpd_eda.ipynb
  data/data-pipeline/data_pipeline/tests/base/config.yaml
  data/data-pipeline/data_pipeline/tests/base/data/census.csv
  data/data-pipeline/data_pipeline/tests/base/data/output.csv
  data/data-pipeline/data_pipeline/tests/base/invalid_config.yaml
  data/data-pipeline/data_pipeline/tests/base/test_base.py
  data/data-pipeline/data_pipeline/tests/conftest.py
  data/data-pipeline/data_pipeline/tests/sources/__init__.py
  data/data-pipeline/data_pipeline/tests/sources/example/__init__.py
  data/data-pipeline/data_pipeline/tests/sources/example/data/input.csv
  data/data-pipeline/data_pipeline/tests/sources/example/data/input.zip
  data/data-pipeline/data_pipeline/tests/sources/example/data/output.csv
  data/data-pipeline/data_pipeline/tests/sources/example/data/transform.csv
  data/data-pipeline/data_pipeline/tests/sources/example/etl.py
  data/data-pipeline/data_pipeline/tests/sources/example/test_etl.py
  data/data-pipeline/data_pipeline/tests/sources/national_risk_index/data/NRI_Table_CensusTracts.zip
  data/data-pipeline/data_pipeline/tests/sources/national_risk_index/data/acs.csv
  data/data-pipeline/data_pipeline/tests/sources/national_risk_index/data/input.csv
  data/data-pipeline/data_pipeline/tests/sources/national_risk_index/data/output.csv
  data/data-pipeline/data_pipeline/tests/sources/national_risk_index/data/transform.csv
  data/data-pipeline/data_pipeline/tests/sources/national_risk_index/test_etl.py
  data/data-pipeline/data_pipeline/utils.py
  data/data-pipeline/tox.ini
Labels: testing-backend

#1270 FEMA data check
  data/data-pipeline/data_pipeline/etl/score/etl_score.py
  data/data-pipeline/data_pipeline/etl/sources/national_risk_index/etl.py
  data/data-pipeline/data_pipeline/ipython/agricultural_loss_indicator.ipynb
  data/data-pipeline/data_pipeline/ipython/scoring_comparison.ipynb
  data/data-pipeline/data_pipeline/score/field_names.py
  data/data-pipeline/data_pipeline/tests/sources/national_risk_index/data/output.csv
  data/data-pipeline/data_pipeline/tests/sources/national_risk_index/data/transform.csv
  data/data-pipeline/data_pipeline/tests/sources/national_risk_index/test_etl.py
Labels: data

#1275 Creating shapefiles for ArcGIS users
  data/data-pipeline/data_pipeline/data/score/shapefile/__init__.py
  data/data-pipeline/data_pipeline/etl/score/etl_score_geo.py
Labels: data, data-pipeline

#1272 Updating tiles csv to include state code
  data/data-pipeline/data_pipeline/etl/score/etl_score_post.py
  data/data-pipeline/data_pipeline/etl/score/tests/snapshots/score_data_expected.pkl
Labels: data, data-pipeline
